altgraph==0.17.2
beautifulsoup4==4.10.0
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
docopt==0.6.2
Eel==0.12.4
future==0.18.2
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.2
idna==3.3
Js2Py==0.71
Levenshtein==0.18.1
packaging==21.3
pefile==2021.9.3
Pillow==9.0.1
pipwin==0.5.1
PyAudio==0.2.11
pycparser==2.21
pyinstaller==4.9
soupsieve==2.3.1
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.8
vosk==0.3.32
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.4.0

